<div mat-dialog-content style="height: 55vh;">
    <h1 mat-dialog-title class="titre">Nouvelle Notification</h1>

    <div mat-dialog-content>
        <mat-radio-group [(ngModel)]="is_image">
            <mat-radio-button [value]="1" [checked]="1">
                Avec produit
            </mat-radio-button>
            <mat-radio-button [value]="2" [checked]="2">
                Sans produit
                </mat-radio-button>
        </mat-radio-group>
       
        <div *ngIf="is_image==1">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Produits Nouveauté</mat-label>
                <mat-select matNativeControl [required]="is_image==1" [(ngModel)]="notif.tmp">
                    <mat-option value>-- Choisissez un produit --</mat-option>
                    <mat-option *ngFor="let prod of listprod" value=" {{prod.name}}||{{prod.id_category}}||{{prod.id_image}}||{{prod.id_product}}||{{prod.id_attribute}}||{{prod.link_rewrite}}||{{prod.id_product_attribute}}">
                        {{prod.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Titre</mat-label>
            <input matInput type="text" [(ngModel)]="notif.titre" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Contenu</mat-label>
            <textarea matInput [(ngModel)]="notif.contenu" required></textarea>
        </mat-form-field>
        <div *ngIf="is_image==2">
            <img style="width:200px;height:90px;" src="{{base_url}}produit/imageban/{{notif.nom_image}}" onError="this.src='assets/img/fond_bo.png'">            
            <input type="file" value="url_img" (change)="onFileSelected($event)"/>
        </div>
    </div>

    <div>
        <mat-label>Envoyer plus tard </mat-label>
        <mat-radio-group [(ngModel)]="idDateTime">
            <mat-radio-button [value]="1" [checked]="1">
                Oui
            </mat-radio-button>
            <mat-radio-button [value]="2" [checked]="1">
                Non
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <div *ngIf="idDateTime == 1">
        <div mat-dialog-content>
            <div>
                <mat-form-field class="example-full-width" appearance="fill" [formGroup]="range">
                    <mat-label>Choisir la date</mat-label>
                    <input matStartDate formControlName="start" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Temps</mat-label>
                    <input matInput type="time" [(ngModel)]="notif.time" [required]="idDateTime === 1">
                </mat-form-field>
            </div>

        </div>

    </div>
    <div mat-dialog-actions style="width: 100%;">
        <button mat-button mat-dialog-close class="red">Fermer</button>
        <button mat-button mat-dialog-close type="submit" (click)="Updatemodif()" color="warning" class="green">Enregistrer et Envoyer</button>
    </div>
</div>