<div class="page-layout blank p-24" fusePerfectScrollbar>

    <div class="main-widget" id="marginWidth">

        <div class="position-relative p-24 bg_head" fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
            <div fxLayout="column" fxLayoutAlign="start start" style="width: 100%;">
                <span class="h2">Liste des produits Nouveautés</span>

                <button style="margin-left: 2%;" class="mat-focus-indicator add-product-button fuse-white mt-24 mt-md-0 ng-tns-c281-46 mat-raised-button mat-button-base" (click)="actualiser()">
                    <mat-icon style="margin-top: 10px;">cached</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="search-div">
        <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput type="text" placeholder="Rechercher" [(ngModel)]="searchKey" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button *ngIf="searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="content" style="width: 100%;">
        <div class="mat-elevation-z8" style="width: 100%;">
            <mat-progress-bar mode='indeterminate' *ngIf="showLoader"></mat-progress-bar>
            <table mat-table [dataSource]="listProduit" class="mat-elevation-z8" matSort style="width: 100%;">


                <ng-container matColumnDef="position" id="bgTable">
                    <th mat-header-cell *matHeaderCellDef> Id</th>
                    <td mat-cell *matCellDef="let element">{{element.id_product}} </td>
                </ng-container>
                <ng-container matColumnDef="nom" id="bgTable">
                    <th mat-header-cell *matHeaderCellDef> Nom</th>
                    <td mat-cell *matCellDef="let element">{{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="prix" id="bgTable">
                    <th mat-header-cell *matHeaderCellDef> Prix</th>
                    <td mat-cell *matCellDef="let element">{{element.price}} </td>
                </ng-container>
                <ng-container matColumnDef="id_category" id="bgTable">
                    <th mat-header-cell *matHeaderCellDef> Category </th>
                    <td mat-cell *matCellDef="let element">{{element.nom_cat}} </td>
                </ng-container>
                <ng-container matColumnDef="Image" id="bgTable">
                    <th mat-header-cell *matHeaderCellDef> Image</th>
                    <td mat-cell *matCellDef="let element"> <img style="height: 120px; width: 120px;" [src]=[element.link]></td>
                </ng-container>
                <ng-container matColumnDef="actions1" id="bgTable">
                    <th mat-header-cell *matHeaderCellDef> Action</th>
                    <td mat-cell *matCellDef="let element ">
                        <mat-label>Activer</mat-label>&nbsp;&nbsp;
                        <mat-checkbox (click)="recuperation(element.id_product)" [(ngModel)]="element.active" class="checkBox-btn"></mat-checkbox>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[4, 10, 25 , 100]" [pageSize]="4" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>