<div class="content">
    <h2 class="title_page">Notification</h2>
    <table>
        <thead>
            <tr>
                <th>N°</th>
                <th>Text Par defaut</th>
                <th>Type</th>
                <th>Action</th>           
            </tr>        
        </thead>
        <tbody>
            <tr>
                <td>1</td>               
                <td>text</td>
                <td>Commande</td>
                <td>
                    <button>Editer</button>
                </td>
            </tr>
            <tr>
                <td>2</td>               
                <td>text</td>
                <td>Commande</td>
                <td>
                    <button>Editer</button>
                </td>
            </tr>
           
        </tbody>
    </table>
</div>

