<div class="page-layout blank p-24" fusePerfectScrollbar>

    <div class="main-widget" id="marginWidth">

        <div class="position-relative p-24 bg_head" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start">
                <span class="h2">Liste des produits</span>
                <span class="h5 secondary-text">
                   </span>
            </div>
        </div>

    </div>

    <div class="search-div">
        <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput type="text" placeholder="Rechercher" [(ngModel)]="searchKey" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button *ngIf="searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div class="content">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="listProduit" class="mat-elevation-z8" matSort>

                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> Numéro</th>
                    <td mat-cell *matCellDef="let element">{{element.id_product}} </td>
                </ng-container>
                <ng-container matColumnDef="nom">
                    <th mat-header-cell *matHeaderCellDef> Nom</th>
                    <td mat-cell *matCellDef="let element">{{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="link_rewrite">
                    <th mat-header-cell *matHeaderCellDef> Link_rewrite</th>
                    <td mat-cell *matCellDef="let element">{{element.link_rewrite}} </td>
                </ng-container>
                <ng-container matColumnDef="meta_title">
                    <th mat-header-cell *matHeaderCellDef> Title</th>
                    <td mat-cell *matCellDef="let element">{{element.meta_title}} </td>
                </ng-container>
                <ng-container matColumnDef="id_category">
                    <th mat-header-cell *matHeaderCellDef> Category </th>
                    <td mat-cell *matCellDef="let element">{{element.id_category}} </td>
                </ng-container>
                <ng-container matColumnDef="actions1">
                    <th mat-header-cell *matHeaderCellDef> index</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="recuperation(element.id_product)" [(ngModel)]="element.active" class="checkBox-btn"></mat-checkbox>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25 , 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
        </div>
    </div>