@import "src/@fuse/scss/fuse";
.tableDiv {
    margin-top: 50px;
}

table {
    width: 100%;
}

#centerth th {
    text-align: center;
    color: white;
}

#centertd td {
    text-align: center;
}

.btn {
    border-radius: 10px;
    border-color: #039BE5;
    color: rgb(228, 219, 212);
    background-color: #039BE5;
    width: 100px;
}

.th {
    font-family: sans-serif;
    border: thin solid #333435;
    text-align: center;
}

td {
    font-family: sans-serif;
    border: thin solid #3c3c3d;
    // width: 100%;
    // padding: 5px;
    text-align: center;
    background-color: #ffffff;
}

#site-search {
    height: 30px;
    background-color: rgb(219, 211, 211);
    border-radius: 10px;
}

.marginDiv {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

.marignBtn {
    margin-left: 10px;
    border-radius: 10px;
}

.textProduit {
    // text-align: center;
    font-size: 25px;
}

.checkBox-btn {
    // margin-left: 5%;
    // height: 30px;
    // padding-top: 8px;
    // width: 35px;
    position: relative;
    padding-left: 2.3em;
    font-size: 1.05em;
    line-height: 1.7;
    cursor: pointer;
    width: 5.4em;
    height: 5.4em;
}

.checkBox {
    padding-top: 10px;
}

.search-div {
    margin: 10px;
}

.search-form-field {
    width: 60%;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-radius: 5px
}

.search-form-field div.mat-form-field-underline {
    display: none;
}

.search-form-field div.mat-form-field-infix {
    border-top: 0px
}

.search-form-field div.mat-form-field-wrapper {
    padding-bottom: 0px;
}

.search-form-field div.mat-form-field-suffix button {
    height: 32px;
    width: 32px;
}