<div class="page-layout blank">

    <div class="main-widget">

        <!-- <div class="position-relative p-24 blue-600">
            <div>
                <span class="h2"> </span>
                <span class="h5 secondary-text">
                    </span>
            </div>


        </div> -->

        <div class="position-relative h-1 pb-16 blue-600">
            <canvas>
            </canvas>
        </div>
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <br>
        <div id="chartContainer2" style="height: 370px; width: 100%;"></div>
    </div>



</div>