<h1 mat-dialog-title class="titre">banniere ou Image</h1>
<div mat-dialog-content>

    <div>
        <img style="width:200px;height:75px;" src="{{base_url}}produit/imageban/{{prod.nom_image}}">
        <label>
            <br>
            <input type="file"  value="url_img" (change)="onFileSelected($event)"/>
        </label>
    </div>

    <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Choix page</mat-label>
        <select matNativeControl required [(ngModel)]="prod.id_page">
            <option value="1">Accueil</option>
            <option value="2">Carte cadeau</option>
            <option value="3">Offre</option>
            <option value="4">Magasin</option>
        </select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>N° position bannniere</mat-label>
        <input matInput type="number" [(ngModel)]="prod.num_ban" required>
    </mat-form-field>

</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close class="red">Fermer</button>
    <button mat-button mat-dialog-close type="submit" (click)="Updatemodif()" color="warning" class="green">Enregistrer</button>
</div>