

<h1 mat-dialog-title class="titre">Mon profile</h1>
<div mat-dialog-content>
    <div class="row_profile">
        <span class="titre_profile">Nom: </span><span>{{nom}}</span>
    </div>
    <br>
    <div class="row_profile">
        <span class="titre_profile">Prenom: </span><span>{{prenom}}</span>
    </div>
    <br>
    <div  class="row_profile">
        <span class="titre_profile">Email: </span><span>{{email}}</span>
    </div>
    <div  class="row_profile">
        <span class="titre_profile">Type: </span><span>{{type}}</span>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close class="red">Fermer</button>
</div>
