<h1 mat-dialog-title class="titre">Nouvel Element</h1>
<div mat-dialog-content>
    
    <h3 style="font-weight:bold">Type Element :</h3>

    <label for="icon">Icon&nbsp;&nbsp;</label>
        <input matinput type="radio" [(ngModel)]="prod.check1" name="typeel" value="icon" (change)="afficher_bloc(0)" [checked]=true><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <label for="image">Image&nbsp;&nbsp;</label>
        <input matinput type="radio" [(ngModel)]="prod.check1" name="typeel" value="image" (change)="afficher_bloc(1)" [checked]=true>
       
    <hr>
    <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Nom</mat-label>
                <input matInput type="text" [(ngModel)]="prod.nom" required>
    </mat-form-field>
    <div [hidden]="ishidden0">
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Numero position Icon</mat-label>
            <select matNativeControl required [(ngModel)]="prod.num_position_icon">
                        <option value="1">N°:1</option>
                        <option value="2">N°:2</option>
                        <option value="3">N°:3</option>
                        <option value="4">N°:4</option>
            </select>
        </mat-form-field>
    </div>
    <div [hidden]="ishidden1">
        <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Text</mat-label>
                    <input matInput [(ngModel)]="prod.text_ban">
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Position text</mat-label>
            <select matNativeControl required [(ngModel)]="prod.position_text">
                        <option value="left">Gauche</option>
                        <option value="right">Droite</option>
                        <option value="center">Centre</option>
            </select>
        </mat-form-field>
    </div>
    <div>         
        <label>
             background image : 
            <input type="file"  value="url_img" (change)="onFileSelected($event)"/>
        </label>
    </div> 
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close class="red">Fermer</button>
    <button mat-button mat-dialog-close type="submit" (click)="Updatemodif()" color="warning" class="green">Enregistrer</button>
</div>