.body_msg{
    width:100%;
}
.div_body_msg_g{
    width:50%;
    float:left;
}
.div_body_msg_d{
    width:50%;
    float:left;
}
.content{
    width:100%;
    padding:20px;
}
.title_page{
    font-weight: bold;
    color:#372B27;
}