<div class="content">
    <h2 class="title_page">Message</h2>
    <div class="body_msg">
        <div class="div_body_msg_g">
            <div>
                <h4>Message</h4>
                <table>
                    <tr (click)="affichermessage()">
                        <td>Nomsourcemessage<br>
                            Textmessage
                        </td>
                    </tr>
                    <tr (click)="affichermessage()">
                        <td>Nomsourcemessage<br>
                            Textmessage
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <h4>Contact</h4>
            </div>
        </div>
        <div class="div_body_msg_d">
            <h3>Contenu message</h3>
            <div id="body_message"></div>
        </div>
    </div>
</div>

