<h1 mat-dialog-title class="titre">Evenement</h1>
<div mat-dialog-content>
    <div>
        <img style="width:200px;height:90px;" src="{{base_url}}produit/imageban/{{prod.nom_image}}" onError="this.src='assets/img/fond_bo.png'">
        <label>
            <input type="file"  value="url_img" (change)="onFileSelected($event)"/>
        </label>
    </div>
    <br>

    <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Titre</mat-label>
        <input matInput type="text" [(ngModel)]="prod.titre" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Contenu Texte</mat-label>
        <textarea rows="5" cols="40" matInput placeholder="............." [(ngModel)]="prod.texte" required></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Nom du boutton </mat-label>
        <input matInput type="text" [(ngModel)]="prod.nom_button">
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Lien details</mat-label>
        <input matInput type="text" [(ngModel)]="prod.lien" placeholder="https://">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Condition</mat-label>
        <textarea rows="5" cols="40" matInput placeholder="Si l' evènement à une condition" [(ngModel)]="prod.condition_event" required></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Libellée du condition</mat-label>
        <textarea rows="5" cols="40" matInput placeholder="Libellé du condition" [(ngModel)]="prod.libellee" required></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Message pour les participants</mat-label>
        <textarea rows="5" cols="40" matInput placeholder="Libellé du condition" [(ngModel)]="prod.message_event" required></textarea>
    </mat-form-field>





</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close class="red">Fermer</button>
    <button mat-button mat-dialog-close type="submit" (click)="Updatemodif()" color="warning" class="green">Enregistrer</button>
</div>