<div class="content">
    <h2 class="title_page">Evenement</h2>
    <table>
        <thead>
            <tr>
                <th>N°</th>
                <th>Code Article</th>
                <th>Image</th>
                <th>Description</th>
                <th></th>
                <th>Afficher</th>           
            </tr>        
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>CA1</td>
                <td>
                    <img style="width:20px; height:20px; margin: 10px" [src]="">
                </td>
                <td>text desciption</td>
                <td></td>
                <td>
                    <input type="checkbox">
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>CA2</td>
                <td>
                    <img style="width:20px; height:20px; margin: 10px" [src]="">
                </td>
                <td>text desciption</td>
                <td></td>
                <td>
                    <input type="checkbox">
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>CA3</td>
                <td>
                    <img style="width:20px; height:20px; margin: 10px" [src]="">
                </td>
                <td>text desciption</td>
                <td></td>
                <td>
                    <input type="checkbox">
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>CA4</td>
                <td>
                    <img style="width:20px; height:20px; margin: 10px" [src]="">
                </td>
                <td>text desciption</td>
                <td></td>
                <td>
                    <input type="checkbox">
                </td>
            </tr>
        </tbody>
    </table>
</div>

